---
 const personalImageAlt = "Percy Rojas"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-300 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Percy Rojas Huamaní. Empecé en la
      programación desarrollando programas sencillos en C++ y experimentando con HTML de páginas ya existentes. Actualmente estoy <strong>disponible para ser contratado.</strong>
    </p>

    <p>
      Como desarrollador web front-end, me apasiona el diseño y creación de aplicaciones funcionales que sean intuitivas y sencillas de utilizar. Cuento con un amplio conocimiento de <strong>React, Javascript, Node,</strong> entre otros. Mi objetivo es continuar especializándome en el desarrollo web y aprendiendo continuamente a la vez que colaboro en equipos y en sus proyectos.
    </p>
  </div>

  <img width="200" height="200" src="https://unavatar.io/seraycrep" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>