---
const personalImageAlt = "Percy Rojas";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-800 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-amber-700 dark:[&>p>strong]:text-yellow-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Percy Rojas. Empecé en la programación intentando desarrollar
      programas sencillos en C++ y experimentando con HTML y estilos de páginas
      ya existentes. Actualmente me encuentro cursando los últimos semestres de
      la carrera de <strong>Ingeniería de Software.</strong>
    </p>

    <p>
      Con conocimientos de programación para páginas web y desarrollo de
      aplicaciones, y apasionado por el diseño y creación de interfaces de
      usuario intuitivas y receptivas, mi objetivo es poner en práctica mis
      habilidades en un entorno dinámico donde pueda contribuir y crecer.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/profile.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
