<div class="flex items-center hover:scale-105 transition">
    <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
      <span
        class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#e8ae00_0%,#856401_50%,#e8ae00_100%)]"
      ></span>
      <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-amber-400 bg-gray-800 rounded-full cursor-pointer dark:bg-gray-800 dark:text-amber-400 backdrop-blur-3xl whitespace-nowrap">
        <slot />
      </div>
    </span>
    </div>