<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-4">
    <nav class="flex px-3 text-sm font-medium rounded-full text-gray-200 justify-center items-center bg-violet-900 bg-opacity-50 h-11">
        <a href="#top" class="block px-3 py-1 rounded-lg hover:bg-purple-400 hover:text-purple-800 transition delay-50">Inicio</a>
        <a href="#proyectos" class="block px-3 py-1 rounded-lg hover:bg-purple-400 hover:text-purple-800 bg-transparent transition delay-50">Proyectos</a>
        <a href="#sobre-mi" class="block px-3 py-1 rounded-lg hover:bg-purple-400 hover:text-purple-800 bg-transparent transition delay-50">Sobre mí</a>
        <a href="#contacto" class="block px-3 py-1 rounded-lg hover:bg-purple-400 hover:text-purple-800 bg-transparent transition delay-50">Contacto</a>
    </nav>
</header>