<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-10 bg-opacity-80">
        <a href="#top" class="block p-3 rounded-lg hover:bg-purple-950 transition delay-50">Inicio</a>
        <a href="#proyectos" class="block p-3 rounded-lg hover:bg-purple-950 transition delay-50">Proyectos</a>
        <a href="#sobre-mi" class="block p-3 rounded-lg hover:bg-purple-950 transition delay-50">Sobre mí</a>
        <a href="#contacto" class="block p-3 rounded-lg hover:bg-purple-950 transition delay-50">Contacto</a>
    </nav>
</header>