---
import Card from "./Card.astro"
---

<div class="grid auto-rows-fr grid-cols-1 lg:grid-cols-2 place-items-center lg:place-items-stretch gap-x-2 gap-y-7">
    <Card 
    title="Módulo de sílabos para el docente"
    description="Herramienta que permite al docente crear sílabos con todo su contenido y generar un documento con el formato adecuado."
    link="https://github.com/EdssonMS/MODGestionSilaboDocente"
    github="https://github.com/EdssonMS/MODGestionSilaboDocente"
    image="/projects/silabos.webp"
    tags={['REACT', 'SPRING', 'CSS']} />

    <Card 
    title="App de máquina expendedora inversa"
    description="Aplicación para móviles destinada a usarse con tachos inteligentes para fomentar el reciclaje."
    link="https://github.com/AlsoEdson/NatureTrustBank"
    github="https://github.com/AlsoEdson/NatureTrustBank"
    image="/projects/ntb.webp"
    tags={['JAVA','KOTLIN']} />
</div>